.cover__subtitle {
  margin: 0;
  padding: 0;
  min-width: 288px;
  max-width: 360px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  grid-area: subtitle;
  position: relative;
  z-index: 3;
  justify-self: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__subtitle {
    min-width: 288px;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}