.place__paragraph {
  margin: 0;
  padding: 0;
  display: grid;
  grid-area: paragraph;
  gap: 25px 0;
  grid-template-rows: min-content min-content;

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    gap: 25px;
    margin: 0 16px;
  }
}