.cover {
  margin: 0;
  padding: 0;
  margin-top: 92px;
  width: 1184px;
  height: 740px;
  display: grid;
  grid-template-columns: 1fr 560px 1fr;
  grid-template-rows: 1fr 152px 66px 1fr;
  grid-template-areas:
        ". . ."
        ". title ."
        ". subtitle ."
        ". . .";
  row-gap: 32px;
  justify-content: center;
  align-content: center;
}