.lead__caption {
  margin: 0;
  padding: 0;
  min-width: 158px;
  min-height: 14px;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  grid-row: 7;
  justify-self: start;
  text-transform: uppercase;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}