.place__website {
  margin: 0;
  padding: 0;
  width: 456px;
  height: 46px;
  display: grid;
  grid-area: website;
  justify-content: start;
  align-self: end;
  grid-template-columns: 456px;
  grid-template-rows: 12px 22px;
  row-gap: 12px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__website {
    margin: 0 16px;
  }
}